:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --add-color: #757575;
    --add-white: #FFFFFF;
    --main-bd-color: #2F303A;
}
body {
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header .container {
    display: flex;
    align-items: center;
}
.logo-link {
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
        margin-right: 93px;
        color: #000;
}
.logo-link {
    text-decoration: none;
}
.logo-accent {
    color: var(--accent-color);
}
.nav-list {
        display: flex;
            gap: 50px;
}
.nav-link {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}
.contact-list{
    color: var(--add-color);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        text-decoration: none;    
        display: flex; 
        margin-left: auto;
        gap: 50px;
}
.contact-list:hover {
    color: var(--accent-color);
    cursor: pointer;
}
.contacts-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.hero-contant {
    color: var(--add-white);
    background-color: var(--main-bd-color);
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/peaple_img.jpg);
        text-align: center;
        
}
.hero-contant-title{
    color: var(--add-white);
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        margin-bottom: 30px;
        text-transform: uppercase;
            letter-spacing: 2.64px;
}
.hero-contant-btn {
    color: var(--add-white);
    background-color: var(--accent-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        border-radius: 4px;
        padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 32px;
            padding-right: 32px;
            border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-contant-btn:hover {
    cursor: pointer;
}
.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}
.advantages-list {
    display: flex;
    gap: 30px;
}
.advantages-item-title {
    color: var(--main-color);
        font-size: 14px;
        letter-spacing: 0.42px;
        flex-basis: calc((100% - 3*30px) / 4);  

}
.advantages-item-title::before {
    content: '';
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 30px;
}
.advantages-item-title:nth-child(1)::before {
    background-image: url(../images/group_svg1_svg.svg);
}
.advantages-item-title:nth-child(2)::before {
    background-image: url(../images/clock_svg2_svg.svg);
}
.advantages-item-title:nth-child(3)::before {
    background-image: url(../images/diagram_svg3_svg.svg);
}
.advantages-item-title:nth-child(4)::before {
    background-image: url(../images/astronaut_svg4_svg.svg);
}
.advantages-subtitle {
    color: var(--add-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.42px;
}
.advantages-title {
    color: var(--main-color);
        font-size: 14px;
        padding-bottom: 10px;
}
.work {
    padding-bottom: 94px;
}
.work-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.work-title {
    color: var(--main-color);
        font-size: 36px;
        letter-spacing: 1.08px;
        text-align: center;
        margin-bottom: 50px;
}
.workers {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.workers-title {
    color: var(--main-color);
        font-size: 36px;
        letter-spacing: 1.08px;
        text-align: center;
        margin-bottom: 50px;
}
.workers-subtitle {
    color: var(--add-color);
        text-align: center;
        letter-spacing: 0.48px;
        font-size: 16px;
}
.workers-item-title {
    color: var(--main-color);
        text-align: center;
        font-size: 16px;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
}
.div-workers {
    padding-top: 30px;
    padding-bottom: 30px;
}
.workers-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
        background: #FFF;
}
.workers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-address {
    color: var(--add-white);
    background-color: var(--main-bd-color);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.42px;
        text-decoration: none;
}
.contact-address:hover {
    color: var(--accent-color);
    cursor: pointer;
}
.footer {
    background-color: var(--main-bd-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link {
    color: var(--add-color);
        font-size: 14px;
        letter-spacing: 0.42px;
        text-decoration: none;
}
.footer-link:hover {
    color: var(--accent-color);
    cursor: pointer;
}
.contact-address {
    font-style: normal;
}
.footer-logo-link {
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
    color: var(--add-white);
    display: inline-block;
    margin-bottom: 20px;
}
.address-link {
    color: var(--add-white);
    text-decoration: none;
}
.address-link:hover {
    color: var(--accent-color);
        cursor: pointer;
}
.filter-btn {
    color: var(--main-color);
    min-width: 73px;
    padding: 6px 22px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.48px;
        background-color: #F5F4FA;
        border-radius: 4px;
        border-color: transparent;
}
.filter-btn:hover, .filter-btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.filter-list {
    display: flex;
        justify-content: center;
        gap: 8px;
}
.projects {
    padding-top: 94px;
    padding-bottom: 50px;
}
.project-item-title {
    color: var(--main-color);
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 1.08px;
}
.projects-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-link {
    text-decoration: none;
    display: block;
}
.project-link:focus, .project-link:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.div-project {
    padding: 20px 24px;
    border: 1px solid #EEE;
}
.project-item {
    flex-basis: calc((100% - 60px) / 3);
}
.project-subtitle {
    color: var(--add-color);
    font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.48px;
}
